<nav class="navbar navbar-expand-lg shadow-sm bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="#">DTA Dashboard</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a class="nav-link text-white" href="/dashboard-trang-chu">Quản lý nội dung</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/dashboard-tai-khoan">Quản lý tài khoản</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/dashboard-tien-trinh">Quản lý tiến trình</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/">Cài đặt</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/trang-chu">Giao diện user</a></li>
    </ul>
  </div>
</nav>
