<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cập nhật bài viết</title>
  <!-- MDBootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet"/>
</head>
<body class="bg-light">

  <!-- Container -->
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- Card -->
        <div class="card shadow-lg border-0 rounded-4">
          <div class="card-header bg-primary text-white text-center py-3 rounded-top-4">
            <h4 class="mb-0">✏️ Cập nhật tài khoản</h4>
          </div>
          <div class="card-body p-4">
            <form action="/dashboard-tai-khoan/<%= accountData.id %>/cap-nhat" method="POST">
              <!-- Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" value="<%= accountData.email %>" id="email" name="email" class="form-control" placeholder="Nhập tiêu đề bài viết" value="Email cũ">
              </div>

              <!-- Mật khẩu -->
              <div class="mb-3">
                <label for="description" class="form-label">Mật khẩu</label>
                <input type="text" value="<%= accountData.password %>"  id="password" name="password" class="form-control" placeholder="Nhập mô tả ngắn" value="Mật khẩu mới">
              </div>

              <!-- Xác nhận mật khẩu -->
              <div class="mb-3">
                <label for="description" class="form-label">Xác nhận mật khẩu</label>
                <input type="text" value=""  id="repassword" name="repassword" class="form-control" placeholder="Nhập mô tả ngắn" value="Xác nhận mật khẩu">
              </div>

              <!-- Phân quyền -->
              <div class="mb-3">
                <label for="decentralization" class="form-label">Phân quyền</label>
                <select id="decentralization" name="decentralization" class="form-control" required>
                    <option value="0">Quản trị viên</option>
                    <option value="1">Người dùng</option>
                </select>
              </div>

              <!-- Buttons -->
              <div class="d-flex justify-content-between">
                <a href="/posts" class="btn btn-secondary">⬅ Quay lại</a>
                <button type="submit" class="btn btn-success">💾 Lưu thay đổi</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>

  <!-- MDB JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.js"></script>
</body>
</html>
